<!-- <p>navbar works!</p> -->
<nav class="bg-red-800 text-white p-4 flex justify-content space-between">
    <span class="text-xl font-semibold mx-5">MyApp</span>
    <div>
      @if (!authenticated) {
        <a  class="mr-4  cursor-pointer hover:bg-blue-600 hover:text-white hover:border-2 rounded-3xl p-2" routerLink="/login" (click)="gotoLogin()">Login</a>
      }
      @if (!authenticated) {
        <a class="mr-4 cursor-pointer hover:bg-blue-600 hover:text-white hover:border-2 rounded-3xl p-2"  (click)="gotoReg()">Register</a>
      }
      @if (authenticated) {
        <a class="mr-4 cursor-pointer  hover:bg-blue-600 hover:text-white hover:border-2 rounded-3xl p-2" routerLink="/dashboard" >Dashboard</a>
      }
      @if (authenticated) {
        <button class="bg-red-500 px-3 py-1 rounded cursor-pointer" (click)="logout()">Logout</button>
      }
      
    </div>
  </nav>